# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda / venv
.env
.venv
env/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data / weights (do not commit)
data/**
model/weights/**
*.pt
*.pth
*.onnx

# Logs
*.log
